<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>project</display-name>
  <welcome-file-list>
    <welcome-file>LoginPage.jsp</welcome-file>
  </welcome-file-list>
    <context-param>
    <description>Location to store uploaded file</description>
    <param-name>file-upload</param-name>
    <param-value>
  C:\New folder\Practice Section\Advanced Java\RealEstateBusiness\WebContent\Users
     </param-value>
  </context-param>
  
  
  <servlet>
    <description></description>
    <display-name>LoginPage</display-name>
    <servlet-name>LoginPage</servlet-name>
    <servlet-class>view.LoginPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginPage</servlet-name>
    <url-pattern>/LoginPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Welcome</display-name>
    <servlet-name>Welcome</servlet-name>
    <servlet-class>view.Welcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Welcome</servlet-name>
    <url-pattern>/Welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterController</display-name>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>controller.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/RegisterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterPage</display-name>
    <servlet-name>RegisterPage</servlet-name>
    <servlet-class>view.RegisterPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterPage</servlet-name>
    <url-pattern>/RegisterPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgetPassController</display-name>
    <servlet-name>ForgetPassController</servlet-name>
    <servlet-class>controller.ForgetPassController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetPassController</servlet-name>
    <url-pattern>/ForgetPassController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductController</display-name>
    <servlet-name>ProductController</servlet-name>
    <servlet-class>controller.ProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductController</servlet-name>
    <url-pattern>/ProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartController</display-name>
    <servlet-name>CartController</servlet-name>
    <servlet-class>controller.CartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartController</servlet-name>
    <url-pattern>/CartController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentController</display-name>
    <servlet-name>PaymentController</servlet-name>
    <servlet-class>controller.PaymentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentController</servlet-name>
    <url-pattern>/PaymentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>p1</display-name>
    <servlet-name>p1</servlet-name>
    <servlet-class>controller.p1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>p1</servlet-name>
    <url-pattern>/p1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>p2</display-name>
    <servlet-name>p2</servlet-name>
    <servlet-class>controller.p2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>p2</servlet-name>
    <url-pattern>/p2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>p3</display-name>
    <servlet-name>p3</servlet-name>
    <servlet-class>controller.p3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>p3</servlet-name>
    <url-pattern>/p3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginController</display-name>
    <servlet-name>AdminLoginController</servlet-name>
    <servlet-class>controller.AdminLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginController</servlet-name>
    <url-pattern>/AdminLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminRegisterController</display-name>
    <servlet-name>AdminRegisterController</servlet-name>
    <servlet-class>controller.AdminRegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminRegisterController</servlet-name>
    <url-pattern>/AdminRegisterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminHomeController</display-name>
    <servlet-name>AdminHomeController</servlet-name>
    <servlet-class>controller.AdminHomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminHomeController</servlet-name>
    <url-pattern>/AdminHomeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertItemController</display-name>
    <servlet-name>InsertItemController</servlet-name>
    <servlet-class>controller.InsertItemController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertItemController</servlet-name>
    <url-pattern>/InsertItemController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateItemsController</display-name>
    <servlet-name>UpdateItemsController</servlet-name>
    <servlet-class>controller.UpdateItemsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateItemsController</servlet-name>
    <url-pattern>/UpdateItemsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDatabase</display-name>
    <servlet-name>UpdateDatabase</servlet-name>
    <servlet-class>controller.UpdateDatabase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDatabase</servlet-name>
    <url-pattern>/UpdateDatabase</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteItemsController</display-name>
    <servlet-name>DeleteItemsController</servlet-name>
    <servlet-class>controller.DeleteItemsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteItemsController</servlet-name>
    <url-pattern>/DeleteItemsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDatabase</display-name>
    <servlet-name>DeleteDatabase</servlet-name>
    <servlet-class>controller.DeleteDatabase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDatabase</servlet-name>
    <url-pattern>/DeleteDatabase</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReviewerUnAuthorisedUserController</display-name>
    <servlet-name>ReviewerUnAuthorisedUserController</servlet-name>
    <servlet-class>controller.ReviewerUnAuthorisedUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewerUnAuthorisedUserController</servlet-name>
    <url-pattern>/ReviewerUnAuthorisedUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAuthorizationController</display-name>
    <servlet-name>UserAuthorizationController</servlet-name>
    <servlet-class>controller.UserAuthorizationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAuthorizationController</servlet-name>
    <url-pattern>/UserAuthorizationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>t1</display-name>
    <servlet-name>t1</servlet-name>
    <servlet-class>controller.t1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>t1</servlet-name>
    <url-pattern>/t1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserController</display-name>
    <servlet-name>UserController</servlet-name>
    <servlet-class>controller.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/UserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadAssetImages</display-name>
    <servlet-name>UploadAssetImages</servlet-name>
    <servlet-class>controller.UploadAssetImages</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadAssetImages</servlet-name>
    <url-pattern>/UploadAssetImages</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadVehicleImages</display-name>
    <servlet-name>UploadVehicleImages</servlet-name>
    <servlet-class>controller.UploadVehicleImages</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadVehicleImages</servlet-name>
    <url-pattern>/UploadVehicleImages</url-pattern>
  </servlet-mapping>
</web-app>